<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BaseModel封装.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8619D00A1DD07531003BDAD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8619D01E1DD07531003BDAD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8619D0291DD07531003BDAD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
